@{
    ViewData["Title"] = "Home Page";
}


<h2>Test page</h2>
<ul>
    <li>Sample pages using ASP.NET Core MVC</li>
    <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
    <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
</ul>



